@{
    ViewData["Title"] = "Breakdown List";
}

@model List<Radionica.Model.Breakdown>

<h2>@ViewData["Title"]</h2>

<a class="btn btn-primary" style="margin-bottom: 10px" asp-action="NewBreakdown">New Breakdown</a>

<div class="row" style="margin-bottom: 10px">
    <partial name="_FilterBreakdowns" model="new FilterBreakdownsModel()" />
</div>

<div class="container row" id="table">
    <partial name="_BreakdownsTable" model="@Model" />
</div>

@section scripts{
    <script type="text/javascript">
        function search() {
            console.log($("#filter-form").serialize())

            $.ajax({
                url: "@Url.Action("FilterBreakdowns","Breakdowns")",
                method: "POST",
                data: $("#filter-form").serialize(),
                success: function (html) {
                    $('#table').html(html);
                }
            })
        }
    </script>
}